<div *ngIf="currentPage == 'level'; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <ion-button (click)="this.switchTo('editor')" color="warning">Go to Editor</ion-button>

  <ion-menu-toggle>
    <ion-button color="secondary">
      <ion-icon slot="start" name="menu-outline"></ion-icon>
      Open menu
    </ion-button>
  </ion-menu-toggle>
</ng-template>
<ng-template #elseBlock>
  <ion-button ion-button (click)="this.switchTo('level')" color="success">Go to Level</ion-button>

  <ion-menu-toggle>
    <ion-button color="secondary">
      <ion-icon slot="start" name="cog-outline"></ion-icon>
      Open editor menu
    </ion-button>
  </ion-menu-toggle>
</ng-template>
<div style="display: flex">
  <div *ngIf="currentPage == 'level'; then gameBlock; else editorBlock"></div>

  <ng-template #gameBlock>
    <game-component></game-component>
  </ng-template>
  <ng-template #editorBlock>
    <editor-component></editor-component>
  </ng-template>
</div>