<div *ngIf="currentPage == 'level'; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <button ion-button (click)="this.switchTo('editor')">
    <ion-button>Go to Editor</ion-button>
  </button>
</ng-template>
<ng-template #elseBlock
  ><button ion-button (click)="this.switchTo('level')">
    <ion-button>Go to Level</ion-button>
  </button></ng-template
>
<div style="display: flex">
  <div *ngIf="currentPage == 'level'; then canvasBlock; else editorBlock"></div>

  <ng-template #canvasBlock>
    <canvas-component></canvas-component>
  </ng-template>
  <ng-template #editorBlock>
    <editor-component></editor-component>
  </ng-template>
</div>
