.fullWidth {
  width: 100%;
}

.flexList {
  display: flex;
  flex-direction: column;
}

ion-menu{
  --min-width: 90%;
}

.verticalMenuContent
{
  display:flex;
  flex-direction: column;
  height:90%;
  justify-content: space-between;
}