.borderImg {
  border: 2px solid black;
}
.clicked {
  .borderImg {
    border: 2px solid rgb(34, 21, 176);
    background-color: rgba(34, 21, 176, 0.3);
  }
  * {
    color: rgb(34, 21, 176);
  }
}

.clickable:hover {
  .borderImg {
    border: 2px solid rgb(163, 176, 21);
    background-color: rgba(163, 176, 21, 0.3);
  }
  * {
    color: rgb(163, 176, 21);
  }
}

.fullWidth {
  width: 100%;
}

.flexList {
  display: flex;
  flex-direction: column;
}

.stickySearch {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
  top: 3.5rem;
  background-color: --ion-color-primary-contrast-rgb;
}
.off-the-top
{
  top:2rem;
}

ion-menu{
  --min-width: 90%;
}

.verticalMenuContent
{
  display:flex;
  flex-direction: column;
  height:90%;
  justify-content: space-between;
}