<ion-grid id="page" width="100%" padding="0">
  <ion-row>
    <div>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title> Probably a game </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Probably a game</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-row>
  <ion-row id="container" class="container">
    <ion-col class="container"
      ><game-handler-component></game-handler-component
    ></ion-col>
  </ion-row>
</ion-grid>
